<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>closing_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-05-01</td>
      <td>912.57</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-05-02</td>
      <td>916.44</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-05-03</td>
      <td>927.04</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-05-04</td>
      <td>931.66</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-05-05</td>
      <td>927.13</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2017-05-08</td>
      <td>934.30</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2017-05-09</td>
      <td>932.17</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2017-05-10</td>
      <td>928.78</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2017-05-11</td>
      <td>930.60</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2017-05-12</td>
      <td>932.22</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2017-05-15</td>
      <td>937.08</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2017-05-16</td>
      <td>943.00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2017-05-17</td>
      <td>919.62</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2017-05-18</td>
      <td>930.24</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2017-05-19</td>
      <td>934.01</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2017-05-22</td>
      <td>941.86</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2017-05-23</td>
      <td>948.82</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2017-05-24</td>
      <td>954.96</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2017-05-25</td>
      <td>969.54</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2017-05-26</td>
      <td>971.47</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2017-05-30</td>
      <td>975.88</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2017-05-31</td>
      <td>964.86</td>
    </tr>
  </tbody>
</table>